$Primary-Black: #000;
$Primary-White: #FFF;
$Grey-50: #FAFAFA;
$Grey-100: #F6F7F9;
$Grey-300: #CED2D6;
$Grey-400: #9EA5AD;
$Grey-600: #596066;
$Grey-800: #383F45;
$Grey-900: #24292E;
$Blue-600: #506BC9;
$Success-300: #B8F1D2;
$Success-500: #6AD09D;
$Success-600: #53B483;
$Success-700: #2F9461;
$Success-900: #255E46;
$Success-1000: #1E4D3A;
$Error-300: #FAC7C7;
$Error-700: #CD3636;
$Warning-300: #FDE57E;
$Gradient1: #C6F4DB;
$Gradient2: #F3FFF8;

#root {
    display: flex;
    width: 100%;
    height: 100%;
}

.menu {
    background: $Grey-900;
    min-width: 262px;
    padding: 52px 32px;

    &__header {
        height: 30px;
        padding: 0 8px;
        margin-bottom: 75px;
    }

    &__section {
        margin-bottom: 40px;

        &__header {
            font-size: 12px;
            color: $Grey-400;
            margin-bottom: 10px;
            padding: 0 8px;
        }

        &__more {
            display: flex;
            align-items: center;
            padding: 0 8px;
    
            &__text {
                margin: 0 16px;
                flex: 1;
                font-size: 14px;
                font-weight: 500;
                color: $Grey-100;
            }
        }
    }

    &__item {
        display: flex;
        align-items: center;
        padding: 8px;

        &__icon {
            margin-right: 16px;
            color: $Grey-100;
        }

        &__label {
            color: $Grey-100;
            font-size: 14px;
        }

        &.active {
            border-radius: 4px;
            background: $Grey-800;

            .menu__item__icon {
                color: $Success-500;
            }
    
            .menu__item__label {
                color: $Success-500;
            }
        }
    }
}

.content {
    background: #FFF;
    width: 100%;
    padding: 0 56px 36px;
    color: $Primary-Black;
}

.search {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $Grey-600;
    padding: 20px 0;
    font-size: 14px;
    font-weight: 500;
    color: $Grey-600;

    &__text {
        flex: 1;
    }

    &__icon {
        margin-right: 12px;

        &--right {
            margin-left: 28px;
        }
    }
}

.welcome {
    font-size: 30px;
    margin: 40px 0;
}

.analysis {
    display: flex;
    column-gap: 48px;

    &__left {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }

    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        gap: 12px;
    }

    &__title {
        font-size: 20px;
        font-weight: 700;
    }

    &__dropdown {
        position: relative;
          
        &::after {
            content: url('./icons/chevron-down.svg');
            font-size: 16px;
            top: 4px;
            right: 4px;
            position: absolute;
            pointer-events: none;
        }

        &__content {
            background-color: $Grey-100;
            color: $Primary-Black;
            padding: 4px 20px 4px 8px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: 20px;
            border: 1px solid $Grey-300;
            font-size: 14px;
            font-weight: 500;
            -webkit-appearance: none;
            appearance: none;

            &:hover {
                cursor: pointer;
            }
        }
       
    }

    &__link {
        display: flex;
        font-size: 14px;
        color: $Blue-600;
        flex: 1;
        justify-content: flex-end;

        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }

        &__icon {
            margin-left: 8px;
        }
    }
}

.trends {
    &__section {
        padding: 8px;
        
        &:hover {
            border-radius: 8px;
            background: $Grey-100;
            cursor: pointer;
        }
    }

    &__title {
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 8px;
    }

    &__number {
        font-size: 48px;
        font-weight: 400;
        line-height: 60px;
        letter-spacing: -0.96px;
        margin-bottom: 4px;
    }

    &__info {
        display: flex;
    }

    &__label {
        font-size: 12px;
        font-weight: 500;
        margin-left: 4px;

        &.--success {
            color: $Success-700;
        }

        &.--error {
            color: $Error-700;
        }
    }

    .analysis__content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: -8px;
    }
}

.sentiment {
    &__column-label {
        font-size: 14px;
        font-weight: 500;
    }

    &__section {
        display: flex;
        align-items: flex-start;
        padding: 16px;
        column-gap: 24px;
        border-radius: 8px;
        border: 1px solid $Grey-300;

        &:hover {
            background: $Grey-100;
            box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.12);
            cursor: pointer;
            opacity: 0.7;
        }

        &__graphic {
            width: 60px;
        }

        &__label {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 4px;
            color: $Primary-Black;
        }

        &__bar {
            height: 10px;
            margin-right: 6px;
        }

        &__item {
            display: inline-flex;
            align-items: center;
            color: $Grey-900;
            font-size: 12px;
            font-weight: 400;
            margin-right: 8px;
        }
    }

    .analysis__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }
}

.review-volume {
    .analysis__header {
        margin-bottom: 8px;
    }

    &__legend {
        margin-bottom: 24px;
    }
}

.recent-reviews {
    flex: 0 0 342px;

    &__tile {
        padding: 12px 0 16px;
        border-bottom: 1px solid $Grey-300;
    }

    &__header {
        display: grid;
        grid-template-areas: 
            'logo city photos'
            'logo details photos';
        grid-template-columns: 32px 1fr 28px;
        align-items: center;
        column-gap: 10px;
        margin-bottom: 8px;
    }

    &__logo {
        grid-area: logo;
    }

    &__city {
        grid-area: city;
        font-weight: 600;
        font-size: 12px;
        color: $Grey-900;
    }

    &__details {
        grid-area: details;
        font-size: 12px;
        font-weight: 400;
        color: $Grey-600;
    }

    &__photos {
        grid-area: photos;
        display: flex;
        align-items: center;
        align-self: baseline;

        &-number {
            font-size: 12px;
            font-weight: 400;
            color: $Grey-600;
            margin-right: 4px;
            margin-top: 2px;
        }
    }

    &__rating {
        margin-bottom: 8px;
    }

    &__text {
        font-size: 12px;
    }

    &__more {
        color: $Blue-600;
    }

    .analysis__header {
        justify-content: space-between;
        padding-bottom: 9px;
        border-bottom: 1px solid $Grey-900;
        margin-bottom: 8px;
    }

    .analysis__content {
        padding: 0 8px;
    }
}

.sentiment {
    &__body {
        display: flex;
        padding: 40px 0;
        gap: 16px;
    }

    &__header {
        font-size: 30px;
        margin-bottom: 40px;
        margin-top: 0;
    }

    &__left {
        flex: 0 0 343px;
    }

    &__right {
        flex: 1;
    }

    &__insight {
        display: flex;
        border-radius: 8px;
        background: linear-gradient(180deg, $Gradient1 0%, $Gradient2 100%);
        overflow: auto;
        margin-bottom: 16px;

        &__content {
            padding: 16px 24px 24px;
        }

        &__kicker {
            display: flex;
            align-items: center;
            font-size: 12px;
            font-weight: 600;
            color: $Success-1000;
            margin-bottom: 16px;

            &__icon {
                margin-left: 6px;
            }
        }

        &__text {
            font-size: 16px;
            font-weight: 400;
            color: $Grey-800;
            margin-bottom: 20px;
        }

        &__keywords {
            font-weight: 600;
            color: $Success-900;
        }

        &__button {
            border-radius: 8px;
            background: $Primary-Black;
            box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 0px 0px 1px rgba(103, 110, 118, 0.16), 0px 2px 5px 0px rgba(103, 110, 118, 0.08);
            padding: 10px 18px;
            color: $Primary-White;
            display: flex;
            align-items: center;
            width: 241px;
            justify-content: space-between;
            font-size: 14px;
            font-weight: 600;

            &:hover {
                cursor: pointer;
                opacity: 0.7;
            }
        }

        &__link {
            display: flex;
            align-items: center;
            margin-bottom: 6px;
            
            &:hover {
                cursor: pointer;
                opacity: 0.7;
            }

            &:last-of-type {
                margin-bottom: 0;
            }

            &__text {
                font-size: 14px;
                font-weight: 600;
                text-decoration-line: underline;
                margin-left: 8px;
            }
        }

        &__image {
            object-fit: cover;
        }
    }

    &__reviews {
        border-radius: 8px;
        border: 1px solid $Grey-300;
        padding: 6px 24px;

        .recent-reviews {
            &__tile {
                padding: 18px 0;

                &:last-of-type {
                    border-bottom: none;
                }
            }

            &__bottom {
                display: flex;
                gap: 40px;
            }

            &__image {
                border-radius: 8px;
            }

            &__highlight {
                border-radius: 2px;
                background: $Success-300;
                font-weight: 700;
                color: $Grey-900;
            }

            &__lowlight {
                border-radius: 2px;
                background: $Error-300;
                font-weight: 700;
                color: $Grey-900;
            }

            &__midlight {
                border-radius: 2px;
                background: $Warning-300;
                font-weight: 700;
                color: $Grey-900;
            }
        }
    }
}

.feedback {
    &__header {
        display: flex;
        align-items: center;
        gap: 12px;
        border-bottom: 1px solid $Grey-900;
        padding-bottom: 8px;
    }

    &__title {
        font-size: 20px;
        font-weight: 700;
        flex: 1;
    }

    &__dropdown {
        position: relative;
          
        &::after {
            content: url('./icons/chevron-down.svg');
            font-size: 16px;
            top: 4px;
            right: 4px;
            position: absolute;
            pointer-events: none;
        }

        &__content {
            background-color: $Grey-100;
            color: $Primary-Black;
            padding: 4px 20px 4px 8px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: 20px;
            border: 1px solid $Grey-300;
            font-size: 14px;
            font-weight: 500;
            -webkit-appearance: none;
            appearance: none;

            &:hover {
                cursor: pointer;
            }
        }
       
    }

    &__section {
        display: flex;
        align-items: flex-start;
        padding: 16px;
        column-gap: 24px;
        border-bottom: 1px solid $Grey-300;
        background-color: $Grey-50;

        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }

        &:first-of-type {
            background-color: $Primary-White;
        }

        &:nth-child(n+7) {
            display: none;
        }

        &__graphic {
            width: 60px;
        }

        &__label {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 4px;
            color: $Primary-Black;
        }

        &__bar {
            height: 10px;
            margin-right: 6px;
        }

        &__item {
            display: inline-flex;
            align-items: center;
            color: $Grey-900;
            font-size: 12px;
            font-weight: 400;
            margin-right: 8px;
        }
    }

    .analysis__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }
}